.dot
  font-family: monument_extendedultrabold
  font-size: 11px
  // solo para que el plugin blotter.js encuentre la fuente que quiero para el efecto

.container
  width: 92%
  max-width: 1100px
  margin: 0 auto

.clearfix:after
  content: ""
  display: table
  clear: both

$sidebarW: 100px
.main
  width: calc(100% - $sidebarW)
  margin-left: $sidebarW

.sidebar
  width: $sidebarW
  height: 100%
  position: fixed
  background-color: $gray

.scrollbar
  position: absolute
  top: 50%
  left: 50%
  width: 2px
  height: 60%
  background-color: $lightGray
  +prefix(transform, translate(-50%, -50%), webkit ms)
  .bar
    position: absolute
    top: 0
    left: 0
    background-color: $yellow
    width: 100%
    height: 25%

.title
  margin-bottom: 6vh
  color: white
  font-family: monument_extendedultrabold
  font-size: 70px
  letter-spacing: 1.6px
  display: table
  &:after
    content: ""
    width: 120px
    height: 3px
    background-color: $yellow
    position: absolute
    bottom: 6px
    left: -18px
  strong
    position: absolute
    bottom: 0
    color: white
    -webkit-text-fill-color: black
    -webkit-text-stroke-width: 2px
    -webkit-text-stroke-color: white
    font-size: 69px
  &.right
    strong
      right: -13px
  &.left
    padding-left: 13px
    strong
      left: 0

.paragraph-text
  max-width: 570px
  margin-bottom: 20px
  z-index: 1

.regular-text
  font-family: space_groteskregular
  font-size: 16px
  font-weight: 300
  line-height: 1.4
  letter-spacing: 3px
  color: #ffffff
  a
    color: lighten($yellow, 40%)
    cursor: pointer
    display: inline
    &:hover
      color: lighten($hoverLink, 40%)