body {
  margin: 0;
  background-color: black;
}
body * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
body *:focus {
  outline: 0;
}
body a {
  border: 0;
  text-decoration: none;
}
body input, body select, body textarea {
  border: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
body button {
  border: 0;
  background: none;
  cursor: pointer;
}
body p, body span, body h1, body h2, body h3, body h4, body h5, body h6 {
  margin: 0;
}
body ul {
  padding: 0;
  margin: 0;
}
body ul li {
  list-style-type: none;
}
body img {
  max-width: 100%;
}

@font-face {
  font-family: "monument_extendedultrabold";
  src: url("../fonts/monumentextended/monumentextended-ultrabold-webfont.woff2") format("woff2"), url("../fonts/monumentextended/monumentextended-ultrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "monument_extendedregular";
  src: url("../fonts/monumentextended/monumentextended-regular-webfont.woff2") format("woff2"), url("../fonts/monumentextended/monumentextended-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "space_groteskbold";
  src: url("../fonts/spacegrotesk/spacegrotesk-bold-webfont.woff2") format("woff2"), url("../fonts/spacegrotesk/spacegrotesk-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "space_grotesklight";
  src: url("../fonts/spacegrotesk/spacegrotesk-light-webfont.woff2") format("woff2"), url("../fonts/spacegrotesk/spacegrotesk-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "space_groteskmedium";
  src: url("../fonts/spacegrotesk/spacegrotesk-medium-webfont.woff2") format("woff2"), url("../fonts/spacegrotesk/spacegrotesk-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "space_groteskregular";
  src: url("../fonts/spacegrotesk/spacegrotesk-regular-webfont.woff2") format("woff2"), url("../fonts/spacegrotesk/spacegrotesk-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "space_grotesksemibold";
  src: url("../fonts/spacegrotesk/spacegrotesk-semibold-webfont.woff2") format("woff2"), url("../fonts/spacegrotesk/spacegrotesk-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
section.topbar {
  padding: 50px 40px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
section.topbar .logo {
  font-family: space_groteskbold;
  font-size: 20px;
  letter-spacing: 8px;
  color: #ffffff;
  display: inline-block;
  line-height: 1.1;
}
@media screen and (max-width: 768px) {
  section.topbar {
    padding: 12px;
  }
  section.topbar .logo {
    font-size: 16px;
    letter-spacing: 6px;
  }
  section.topbar .logo span {
    text-align: justify;
    display: table;
  }
}

nav.navbar {
  float: right;
}
nav.navbar a {
  text-align: right;
  margin-left: 40px;
  -webkit-transition: all ease-in-out 0.4s;
  -ms-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
nav.navbar a svg {
  display: none;
  width: 32px;
}
nav.navbar a.codepen path, nav.navbar a.codepen polygon {
  fill: #898989;
}
nav.navbar a.codepen:hover {
  color: #898989;
}
nav.navbar a.linkedin path, nav.navbar a.linkedin polygon {
  fill: #509bf8;
}
nav.navbar a.linkedin:hover {
  color: #509bf8;
}
nav.navbar a.github path, nav.navbar a.github polygon {
  fill: #2bc4dc;
}
nav.navbar a.github:hover {
  color: #2bc4dc;
}
nav.navbar a.contact path, nav.navbar a.contact polygon {
  fill: #c79b3b;
}
nav.navbar a.contact:hover {
  color: #c79b3b;
}
@media screen and (max-width: 1024px) {
  nav.navbar a {
    margin-left: 4px;
  }
  nav.navbar a span {
    display: none;
  }
  nav.navbar a svg {
    display: inline-block;
  }
}

.dot {
  font-family: monument_extendedultrabold;
}

.container {
  width: 92%;
  max-width: 1100px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.main {
  width: calc(100% - 100px);
  margin-left: 100px;
}
@media screen and (max-width: 768px) {
  .main {
    width: 100%;
    margin-left: 0;
  }
}

.sidebar {
  width: 100px;
  height: 100%;
  position: fixed;
  background-color: #0c0c0c;
  top: 0;
  left: 0;
}
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.scrollbar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 60%;
  background-color: #40454a;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.scrollbar .bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #c79b3b;
  width: 100%;
  height: 25%;
}
@media screen and (max-width: 768px) {
  .scrollbar {
    top: 0;
    left: 0;
    height: 100%;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.title {
  margin-bottom: 6vh;
  color: white;
  font-family: monument_extendedultrabold;
  font-size: 70px;
  letter-spacing: 1.6px;
  display: table;
}
.title:after {
  content: "";
  width: 120px;
  height: 3px;
  background-color: #c79b3b;
  position: absolute;
  bottom: 6px;
  left: -18px;
}
.title strong {
  position: absolute;
  bottom: 0;
  color: white;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  font-size: 69px;
}
.title.right strong {
  right: -13px;
}
.title.left {
  padding-left: 13px;
}
.title.left strong {
  left: 0;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 35px;
  }
  .title:after {
    height: 1px;
    left: -7px;
  }
  .title strong {
    font-size: 34px;
    -webkit-text-stroke-width: 1px;
  }
  .title.right strong {
    right: -3px;
  }
  .title.left {
    padding-left: 3px;
  }
}

.paragraph-text {
  max-width: 570px;
  margin-bottom: 20px;
  z-index: 1;
}

.regular-text {
  font-family: space_groteskregular;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 3px;
  color: #ffffff;
}
.regular-text a {
  color: #faf6ee;
  cursor: pointer;
  display: inline;
}
.regular-text a:hover {
  color: #f0fbfd;
}
@media screen and (max-width: 768px) {
  .regular-text {
    font-size: 14px;
  }
}

body.home section.hero {
  height: 95vh;
}
body.home section.hero .me {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  opacity: 0.8;
}
body.home section.hero .main-title {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
body.home section.hero .main-title > * {
  display: block;
}
body.home section.hero .main-title .hello {
  opacity: 0;
  -webkit-transition: opacity ease-in-out 1s;
  -ms-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
}
body.home section.hero .main-title .hello.active {
  opacity: 1;
}
body.home section.hero .main-title .hello canvas {
  max-width: 100%;
  height: auto !important;
}
body.home section.hero .main-title .second {
  font-family: monument_extendedregular;
  font-size: 40px;
  letter-spacing: 0.8px;
  color: #ffffff;
  line-height: 0.9;
  margin-bottom: 10px;
}
body.home section.hero .main-title .second strong {
  font-family: monument_extendedultrabold;
  color: white;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
body.home section.hero .main-title .greetings {
  opacity: 0;
}
body.home section.hero .main-title .greetings.active {
  -webkit-transition: opacity ease-in-out 1s;
  -ms-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
  -webkit-transition-delay: 1s;
  -ms-transition-delay: 1s;
  transition-delay: 1s;
  opacity: 1;
}
body.home section.about {
  height: 85vh;
  z-index: 1;
}
body.home section.about:after {
  content: "";
  width: 70%;
  height: 100%;
  background-color: #0c0c0c;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
body.home section.about .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body.home section.about .content-text, body.home section.about .terminal {
  max-width: calc(50% - 10px);
}
body.home section.about .content-text {
  float: left;
}
body.home section.about .terminal {
  width: 500px;
  height: 300px;
  border: 2px solid #0c0c0c;
  border-radius: 10px;
  box-shadow: 0 0 18px 5px rgba(0, 0, 0, 0.5);
  background-color: black;
  padding: 20px 8px 8px;
  overflow: hidden;
  position: absolute;
  top: calc(50% - 150px);
  right: 0;
}
body.home section.about .terminal:before {
  content: "";
  position: absolute;
  top: 18px;
  left: 7px;
  width: calc(100% - 14px);
  height: 1px;
  background-color: #0c0c0c;
}
body.home section.about .terminal .circle {
  position: absolute;
  top: 6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
}
body.home section.about .terminal .circle.circle-1 {
  left: 7px;
  background-color: #c24b47;
}
body.home section.about .terminal .circle.circle-2 {
  left: 20px;
  background-color: #b59c1d;
}
body.home section.about .terminal .circle.circle-3 {
  left: 33px;
  background-color: #419b22;
}
body.home section.about .terminal a.line {
  text-decoration: underline;
}
body.home section.about .terminal a.line:hover {
  color: #2bc4dc;
}
body.home section.about .terminal .line {
  display: table;
  color: #f9e749;
  font-family: "Anonymous Pro", monospace;
  font-size: 14px;
  height: 12px;
}
body.home section.about .terminal .line:last-child:after {
  content: "_";
  color: #c79b3b;
  animation: intermittent 0.8s linear infinite;
}
@-webkit-keyframes intermittent {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes intermittent {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-ms-keyframes intermittent {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes intermittent {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
body.home section.snippets {
  height: 95vh;
  padding-top: 20vh;
}
body.home section.snippets:after {
  content: "";
  width: 97%;
  height: 50vh;
  background-color: #0c0c0c;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
body.home section.snippets .tabs {
  width: calc(40% - 15px);
  position: absolute;
  height: 100%;
  padding-top: 10vh;
  color: white;
  padding-left: 4vw;
}
body.home section.snippets .tabs .tab {
  font-family: monument_extendedregular;
  letter-spacing: 3px;
  line-height: 1.6;
  cursor: pointer;
  display: table;
  -webkit-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
body.home section.snippets .tabs .tab:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  top: 50%;
  left: -4vw;
  background-color: #c79b3b;
  -webkit-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
body.home section.snippets .tabs .tab:hover {
  color: #d8b977;
}
body.home section.snippets .tabs .tab.active {
  padding-left: 3vw;
  color: #c79b3b;
  cursor: initial;
}
body.home section.snippets .tabs .tab.active:before {
  opacity: 1;
  width: 6vw;
}
body.home section.snippets .description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  font-family: space_groteskregular;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 2px;
  color: white;
  width: calc(40% - 15px);
}
body.home section.snippets .wrapper {
  float: right;
  width: calc(60% - 15px);
  height: 50vh;
}
body.home section.snippets .snippet {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  -webkit-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
body.home section.snippets .snippet.active {
  opacity: 1;
  visibility: visible;
}
body.home section.snippets .snippet .cp_embed_wrapper {
  height: 100%;
}
body.home section.snippets .snippet .cp_embed_wrapper iframe {
  height: 100%;
}
body.home section.contact {
  margin-top: 150px;
  padding-bottom: 10vh;
}
body.home section.contact:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: #0c0c0c;
}
body.home section.contact .title {
  margin-bottom: 60px;
}
body.home section.contact form {
  max-width: 350px;
  margin-top: 40px;
}
body.home section.contact form .input {
  margin-top: 30px;
}
body.home section.contact form label, body.home section.contact form input, body.home section.contact form textarea {
  display: block;
  width: 100%;
  color: #b8a988;
  font-family: space_groteskregular;
}
body.home section.contact form label {
  color: #c79b3b;
  font-size: 14px;
}
body.home section.contact form input, body.home section.contact form textarea {
  font-size: 17px;
  border: none;
  border-bottom: 1px solid #c79b3b;
  background: transparent;
  padding: 10px 0;
  margin-top: 10px;
}
body.home section.contact form textarea {
  resize: none;
  height: 100px;
  overflow: hidden;
}
body.home section.contact form .submit {
  margin-top: 20px;
  color: #c79b3b;
  font-family: space_groteskregular;
  border: 1px solid rgba(199, 155, 59, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
  -webkit-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
body.home section.contact form .submit img {
  width: 25px;
  height: auto;
  -webkit-filter: invert(1);
  -ms-filter: invert(1);
  filter: invert(1);
}
body.home section.contact form .submit:hover {
  border: 1px solid #c79b3b;
}
@media screen and (max-width: 1024px) {
  body.home section.hero {
    height: 85vh;
  }
  body.home section.about .terminal {
    top: auto;
    bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  body.home section.about {
    height: auto;
    padding: 12vh 0;
  }
  body.home section.about .content-text, body.home section.about .terminal {
    max-width: 100%;
  }
  body.home section.about .terminal {
    position: relative;
  }
  body.home section.about .container {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  body.home section.snippets {
    padding: 12vh 0;
    height: auto;
  }
  body.home section.snippets .tabs {
    width: 100%;
    position: relative;
    white-space: nowrap;
    padding-left: 0;
    overflow: auto;
    padding: 15px 0;
  }
  body.home section.snippets .tabs .tab {
    display: inline-block;
    font-size: 14px;
  }
  body.home section.snippets .tabs .tab:not(:first-child) {
    margin-left: 8vw;
  }
  body.home section.snippets .tabs .tab.active {
    padding-left: 0;
    text-decoration: underline;
  }
  body.home section.snippets .tabs .tab.active:before {
    display: none;
  }
  body.home section.snippets .description {
    position: relative;
    width: 100%;
    padding: 35px 0;
    height: 140px;
  }
  body.home section.snippets .description:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #c79b3b;
    background: linear-gradient(90deg, #c79b3b 0%, rgba(199, 155, 59, 0) 100%);
    opacity: 0.5;
  }
  body.home section.snippets .description:after {
    content: "";
    position: absolute;
    top: -70px;
    right: 0;
    width: 25vw;
    height: 70px;
    background: black;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
    pointer-events: none;
  }
  body.home section.snippets .wrapper {
    width: 100%;
  }
  body.home section.contact {
    margin-top: 15vh;
  }
  body.home section.contact:after {
    z-index: -1;
  }
}

/*# sourceMappingURL=styles.css.map */
