body{
  color: rgb(255, 255, 178);
  font-family: 'Raleway', sans-serif;
  background-color: rgb(3,25,43);
}
body, .container, .lp, .lp .subcontainerlp, .info-lp p, .info-lp h2, #cont1 .subcontainer2{
  margin: 0 auto;
}
.minititulo, span{
  color:rgb(255,130,0);
}
#cont1 h1, #cont2 h1{
  text-align: right;
  margin-top: 0;
  margin-bottom: 50px;
}
#cont1 p{
  width: 120px;
  vertical-align: top;
  padding: 0 19px 0 19px;
}
#cont1 p, .navbar .txt-navbar{
  display: table-cell;
}
#cont1, #cont2{
  padding-top: 40px;
}
#cont1 .subcontainer2, .navbar{
  display: table;
}
#cont2 .subcontainer2, #cont2 .subcontainer3, .info-lp{
  text-align: center;
}
.dot{
  border-radius: 50%;
  width: 30px;
  height: 30px; 
}
.dot-nil{
  border-radius: 50%;
  width: 30px;
  height: 30px; 
}
#fotoEffect{
  width: 400px;
  height: 600px;
  position: absolute;
  opacity: 0.5;
  z-index: 2;
}
#fotoEffect, body{
  background-image: url("../img/bg.png");
}
#foto {
  background-image: url(../img/foto.jpg);
  background-color: rgb(150,200,255);
  background-blend-mode: multiply;
  width: 400px;
  height: 600px;
  background-size: auto;
  z-index: 1;
  /*background-color: rgb(2,25,25);
  width: 400px;
  height: 600px;*/
}
.edu{
  -webkit-mask: url(../icon/icon-edu1.svg);
}
.form{
  -webkit-mask: url(../icon/icon-edu2.svg);
}
.contact{
  -webkit-mask: url(../icon/icon-edu3.svg);
}
.icon-home {
  -webkit-mask-size: cover;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 178);
  margin: 7px 5px 7px 20px;
}
.icon-twitter{
  -webkit-mask: url(../icon/twitter.svg);
  width: 39px;
  height: 32px;
}
.icon-facebook{
  -webkit-mask: url(../icon/facebook.svg);
  width: 32px;
  height: 32px;
}
.icon-github{
  -webkit-mask: url(../icon/github.svg);
  width: 32px;
  height: 32px;
}
.icon-net{
  -webkit-mask-size: cover;
  background-color: rgb(255, 255, 178);
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
}
.icon-edu1{
  -webkit-mask: url(../icon/icon-edu1.svg);
}
.icon-edu2{
  -webkit-mask: url(../icon/icon-edu2.svg);
}
.icon-edu3{
  -webkit-mask: url(../icon/icon-edu3.svg);
}
.icon-edu {
  -webkit-mask-size: cover;
  width: 90px;
  height: 90px;
  background-color: rgb(255, 255, 178);
}
.icon-ai{
  -webkit-mask: url(../icon/icon-ai.svg);
}
.icon-css{
  -webkit-mask: url(../icon/icon-css.svg);
}
.icon-fl{
  -webkit-mask: url(../icon/icon-fl.svg);
}
.icon-html{
  -webkit-mask: url(../icon/icon-html.svg);
}
.icon-psd{
  -webkit-mask: url(../icon/icon-psd.svg);
}
.icon-ruby{
  -webkit-mask: url(../icon/icon-ruby.svg);
}
.icon-hab{
  -webkit-mask-size: cover;
  width: 90px;
  height: 90px;
  background-color: rgb(255, 255, 178);
  margin: 0 25px 0 25px;
}
.info-lp{
  width: 500px;
  top: 0px;
  right: 0px;
  position: absolute;
  background-color: rgb(3,18,30);
}
.info-lp p{
  width: 200px;
  font-size: 20px;
}
.info-lp, .lp, .lp .subcontainerlp {
  height: 600px;
}
h1, h2{
  font-family: 'Rock Salt', cursive;
}
h2{
  font-size: 17px;
}
hr, .container h1, ul{
  display: inline-block;
}
hr{
  width: 643px; 
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 178, 0), rgba(255, 255, 178, 0.75), rgba(255, 255, 178, 0));
}
li div{
  margin-bottom: 10px;
}
.lp{
  width: 100%;
  background-color: rgb(3,25,43);
}
.lp .subcontainerlp{
  top: 0;
  left: 0;
  right: 0;
}
.lp, .lp .subcontainerlp, .container{
  position: relative;
}
.lp .subcontainerlp, .container{
  width: 900px;
}
.navbar{
  text-align: right;
  margin: 0 auto;
  padding-left: 600px;
  font-size: 9px;
}
.txt-navbar{
  vertical-align: middle;
}
ul{
  list-style-type: none;
  padding: 0 55px 0 55px;
}
ul:nth-of-type(1) li .dot{ /* illustrator */
  background-color: rgb(215, 123, 32);
}
ul:nth-of-type(2) li .dot{ /* photoshop */
  background-color: rgb(17, 70, 124);
}
ul:nth-of-type(3) li .dot{ /* flash */
  background-color: rgb(159, 10, 30);
}
ul:nth-of-type(4) li .dot{ /* html */
  background-color: rgb(161, 40, 10);
}
ul:nth-of-type(5) li .dot{ /* css */
  background-color: rgb(83, 255, 30);
}
ul:nth-of-type(6) li .dot{ /* ruby */
  background-color: rgb(255,0,0);
}
ul .dot-nil{
  background-color: white;
  opacity: 0.2;
}