@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100);

#lp, #bg, #content, #avatar *, .column{
	position: absolute;
}
#lp{
	display: flex;
	top: 0;
	left: 0;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#lp, #bg, #content{
	width: 100%;
}
h1{
	font-size: 80px;
}
h1, h2{
	margin: 0;
}
h1, span{
	color: rgb(249,103,14);
}
a, h1{
	font-family: 'Raleway', sans-serif;
}
h2{
	font-family: 'Roboto Slab', serif;
	font-size: 39px;
	letter-spacing: 8px;
}
a, h2{
	color: rgb(150,150,150);
}
#links, h2{
	margin-bottom: 5% !important;
}
#links{
	width: 50%;
	text-align: center;
}
a{
	text-decoration: none;
	transition: all 1s ease;
}
#links :nth-child(1):hover{
	color: rgb(0,0,150); 
}
#links :nth-child(3):hover{
	color: rgb(150,0,0); 
}
#links :nth-child(5):hover{
	color: rgb(0,150,0); 
}
a,span{
	font-size: 30px;
}
span{
	font-family: Arial;
	margin: 0 4% 0 4%;
}
#bg{
	opacity: 0;
	min-height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
body{
	margin: 0;
}
#content{
	background-color: white; 
	top: 100%;
	z-index: 0;
}
.subcontent{
	width: 100%;
  height: 100vh;
}
#about{
	background: rgb(255,255,255) url("../png/bg-about2.png") 0 0/100% 100% no-repeat;
}
#avatar *{
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1
}
.circle{
	width: 400px;
	height: 400px;
	border-radius: 50%;
	background-color: rgb(240,240,240);
}
#photo{
	z-index: 2;
	margin-top: 103px;
}
.column{
	width: 50%;
	height: 100vh;
}
.column:nth-of-type(3n){
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3033f2+0,323b5e+100 */
	background: #3033f2; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #3033f2 0%, #323b5e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #3033f2 0%,#323b5e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #3033f2 0%,#323b5e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3033f2', endColorstr='#323b5e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.column:nth-of-type(2n){
	right: 0;
	background-color: rgba(255,255,255,0) !important;
}
#btns{
	position: fixed;
	bottom: 0;
	right: 0;
	opacity: 0;
}
#btns *{
	margin-bottom: 25px;
	margin-right: 25px;
	width: 60px;
}