body.home
  section.hero
    height: 95vh
    .me
      position: absolute
      top: 0 
      right: 0
      pointer-events: none
      opacity: 0.8
    .main-title
      position: absolute
      top: 50%
      left: 0
      +prefix(transform, translateY(-50%), webkit ms)
      > *
        display: block
      .hello
        opacity: 0
        +prefix(transition, opacity ease-in-out 1s, webkit ms)
        &.active
          opacity: 1
        canvas
          max-width: 100%
          height: auto !important
      .second
        font-family: monument_extendedregular
        font-size: 40px
        letter-spacing: 0.8px
        color: #ffffff
        line-height: 0.9
        margin-bottom: 10px
        strong
          font-family: monument_extendedultrabold
          color: white
          -webkit-text-fill-color: black
          -webkit-text-stroke-width: 1px
          -webkit-text-stroke-color: white
      .greetings
        opacity: 0
        &.active
          +prefix(transition, opacity ease-in-out 1s, webkit ms)
          +prefix(transition-delay, 1s, webkit ms)
          opacity: 1
  section.about
    height: 85vh
    z-index: 1
    &:after
      content: ""
      width: 70%
      height: 100%
      background-color: $gray 
      position: absolute
      top: 0
      right: 0
      z-index: -1
    .container
      position: absolute
      top: 50%
      left: 50%
      +prefix(transform, translate(-50%,-50%), webkit ms)
    .content-text, .terminal
      max-width: calc(50% - 10px)
    .content-text
      float: left
    .terminal
      width: 500px
      height: 300px
      border: 2px solid $gray
      border-radius: 10px
      box-shadow: 0 0 18px 5px rgba(black, 0.5)
      background-color: black
      padding: 20px 8px 8px
      overflow: hidden
      position: absolute
      top: calc(50% - 150px) 
      right: 0
      &:before
        content: ""
        position: absolute
        top: 18px
        left: 7px
        width: calc(100% - 14px)
        height: 1px
        background-color: #0c0c0c
      .circle
        position: absolute
        top: 6px
        width: 9px
        height: 9px
        border-radius: 50%
        &.circle-1
          left: 7px
          background-color: #c24b47
        &.circle-2
          left: 20px
          background-color: #b59c1d
        &.circle-3
          left: 33px
          background-color: #419b22
      a.line
        text-decoration: underline
        &:hover
          color: $hoverLink
      .line
        display: table
        color: lighten(#f7e018, 10%)
        font-family: 'Anonymous Pro', monospace
        font-size: 14px
        height: 12px
        &:last-child
          &:after
            content: "_"
            color: $yellow
            +keyframes(intermittent)
              from
                opacity: 1
              to
                opacity: 0
            +prefix(animation, intermittent 0.8s linear infinite)
  section.snippets
    height: 95vh
    padding-top: 20vh
    &:after
      content: ""
      width: 97%
      height: 50vh
      background-color: $gray 
      position: absolute
      bottom: 0
      left: 0
      z-index: -1
    .tabs
      width: calc(40% - 15px)
      position: absolute
      height: 100%
      padding-top: 10vh
      color: white
      padding-left: 4vw
      .tab
        font-family: monument_extendedregular
        letter-spacing: 3px
        line-height: 1.6
        cursor: pointer
        display: table
        +prefix(transition, all ease-in-out 0.3s, webkit ms)
        &:before
          content: ""
          position: absolute
          width: 0
          height: 3px
          top: 50%
          left: -4vw
          background-color: $yellow
          +prefix(transition, all ease-in-out 0.3s, webkit ms)
        &:hover
          color: lighten($yellow, 15%)
        &.active
          padding-left: 3vw
          color: $yellow
          cursor: initial
          &:before
            opacity: 1
            width: 6vw
    .description
      position: absolute
      bottom: 0
      left: 0
      width: 90%
      font-family: space_groteskregular
      font-size: 14px
      line-height: 1.33
      letter-spacing: 2px
      color: white
      width: calc(40% - 15px)
    .wrapper
      float: right
      width: calc(60% - 15px)
      height: 50vh
    .snippet
      position: absolute
      width: 100%
      height: 100%
      opacity: 0
      visibility: hidden
      top: 0
      +prefix(transition, all ease-in-out 0.3s, webkit ms)
      &.active
        opacity: 1
        visibility: visible
      .cp_embed_wrapper
        height: 100%
        iframe
          height: 100%
  section.contact
    margin-top: 150px
    padding-bottom: 10vh
    &:after
      content: ""
      position: absolute
      bottom: 0
      right: 0
      width: 50%
      height: 50%
      background-color: $gray 
    .title
      margin-bottom: 60px
    form
      max-width: 350px
      margin-top: 40px
      .input
        margin-top: 30px
      label, input, textarea
        display: block
        width: 100%
        color: #b8a988
        font-family: space_groteskregular
      label
        color: white
        font-size: 14px
      input, textarea
        font-size: 17px
        border: none
        border-bottom: 1px solid $yellow
        background: transparent
        padding: 10px 0
        margin-top: 10px
      textarea
        resize: none
        height: 100px
        overflow: hidden
      .submit
        margin-top: 20px
        background-color: $yellow
        font-family: space_groteskregular
        width: 50px
        height: 50px
        border-radius: 50%
        padding: 5px
        +prefix(transition, all ease-in-out 0.2s, webkit ms)
        svg
          width: 25px
          height: auto
          margin: 7px 7px 7px 9px
          path
            fill: black
        &:hover
          background-color: darken($yellow, 30%)
  @media screen and (max-width: 1024px)
    section.hero
      height: 85vh
    section.about 
      .terminal
        top: auto
        bottom: 0
  @media screen and (max-width: 768px)
    section.about 
      height: auto
      padding: 12vh 0
      .content-text, .terminal
        max-width: 100%
      .terminal
        position: relative
      .container
        position: relative
        top: 0
        left: 0
        +prefix(transform, translate(0,0), webkit ms)
    section.snippets
      padding: 12vh 0
      height: auto
      .tabs
        width: 100%
        position: relative
        white-space: nowrap
        padding-left: 0
        overflow: auto
        padding: 15px 0
        .tab
          display: inline-block
          font-size: 14px
          &:not(:first-child)
            margin-left: 8vw
          &.active
            padding-left: 0
            text-decoration: underline
            &:before
              display: none
      .description
        position: relative
        width: 100%
        padding: 35px 0
        height: 140px
        &:before
          content: ""
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 1px
          background: rgb(199,155,59)
          background: linear-gradient(90deg, rgba(199,155,59,1) 0%, rgba(199,155,59,0) 100%)
          opacity: 0.5
        &:after
          content: ""
          position: absolute
          top: -70px
          right: 0
          width: 25vw
          height: 70px
          background: rgb(0,0,0)
          background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%)
          pointer-events: none
      .wrapper
        width: 100%
        height: 40vh
    section.contact
      margin-top: 15vh
      form .submit
        margin-top: 40px
      &:after
        z-index: -1